* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
}

body {
    height: 100vh;
    /* background: rgb(228, 228, 228); */
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.orderSuccessful {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.orderSuccessful .banner1 {
    width: 100%;
    height: 10%;
    background-color: rebeccapurple;
}

.orderSuccessful .timeline {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 7;
}

.orderSuccessful .timeline-title {
    font-size: 3rem;
    color: rgb(43, 152, 241);
}

.orderSuccessful .timeline .timeline-clock {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(43, 152, 241);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderSuccessful .timeline .cicle-white {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.orderSuccessful .timeline .cicle-white .number {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(43, 152, 241);
}

.orderSuccessful .timeline .cicle-white span {
    position: absolute;
    width: 2rem;
    height: 1rem;
    background-color: red;
    border-radius: 1rem;
}

.orderSuccessful .timeline .cicle-white .number-item-1 {
    right: 0;
}

.orderSuccessful .timeline .cicle-white .number-item-2 {
    /* right: calc(96px ); */
    transform: rotate(72deg);
    /* bottom: 0; */
}

.orderSuccessful .timeline .timeline-note {
    font-size: 2rem;
}

.orderSuccessful .contact {
    width: 100%;
    height: 20%;
    background: rgb(251 188 188);
}

.orderSuccessful .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.1;
    margin: 3rem;
}

.text-red {
    color: red;
    font-weight: bold;
}