
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_JetPayHomeLayout.cshtml";
}


<div class="home-payment">
    <div class="home-payment-header">
        @*<div class="col-lg-5 col-md-5 x-padding-none">
            <div class="left-content">
                <div class="row">
                    <div class="column">
                    </div>
                </div>
            </div>
        </div>*@
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="right-content title">
                    <div class="container">
                        <div class="medium-title ">
                            <p>CỔNG THANH TOÁN TRỰC TUYẾN</p>
                        </div>
                        <div class="big-title">
                            <p> Ưu việt hàng đầu</p>
                        </div>
                        <div class="small-title">
                            <p>Đa dạng kênh thanh toán</p>
                            <p>Phù hợp mọi đối tượng: hàng hóa vật chất & nội dung số</p>
                            <p> Hỗ trợ 24/7 </p>
                            <p> Tích hợp nhanh chóng & dễ dàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main-content">
            <div class="title-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="medium-title">
                            Hỗ trợ đầy đủ kênh thanh toán
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-content">
                <div class="list-solutions">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">
                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-computer-testing">
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            Thẻ quốc tế
                                        </div>
                                    </div>
                                    <div class="body-content-solution">
                                        <p>Các thẻ quốc tế Visa, Master, JCB, Amex phát hành trên toàn cầu.</p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#"> Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">

                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-credit-card">
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            Thẻ ATM nội địa
                                        </div>
                                    </div>
                                    <div class="body-content-solution">
                                        <p>Khách hàng thanh toán bằng thẻ ATM của 28 ngân hàng trong nước.</p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#"> Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">

                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-transfer-bank">
                                            </div>
                                        </div>
                                        Internet Banking
                                    </div>
                                    <div class="body-content-solution">
                                        <p>Thanh toán trực tuyến với tài khoản Internent Banking của 14 ngân hàng.</p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#"> Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">

                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-qr-code">
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            QR-PAY
                                        </div>
                                    </div>
                                    <div class="body-content-solution">
                                        <p>Khách hàng thanh toán bằng ứng dụng Mobile Banking của 15 ngân hàng thông qua quét mã QR-Code.</p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#"> Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">

                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-wallet">
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            Ví điện tử
                                        </div>
                                    </div>
                                    <div class="body-content-solution">
                                        <p>
                                            Khách hàng thành toán bằng số dư các Ví điện tử nội địa (JetPay, Vimo, ViettelPay...) & nước ngoài (Wechat Pay, Alipay)
                                        </p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">

                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-pos-kiosk">
                                            </div>
                                        </div>

                                        <div class="title-box">
                                            Tiền mặt tại quầy
                                        </div>
                                    </div>
                                    <div class="body-content-solution">
                                        <p>Khách hàng nộp tiền tại gần 10.000 quầy giao dịch trên toàn quốc (ViettelPost, VNPost, FPT shops...)</p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">

                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-transfer-money">
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            Chuyển khoản
                                        </div>
                                    </div>
                                    <div class="body-content-solution">
                                        <p>
                                            Khách hàng chuyển khoản đến 28 tài khoản ngân hàng của Jetpay.
                                        </p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="solution-item">
                                <div class="content-solution">
                                    <div class="title-content-solution">
                                        <div class="icon-box2">
                                            <div class="x-icon icon-paybill">
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            Thẻ trả trước
                                        </div>

                                    </div>
                                    <div class="body-content-solution">
                                        <p>Khách hàng thanh toán bằng nhiều loại thẻ trả trước, phù hợp với các loại Game, nội dung số.</p>
                                    </div>
                                    <div class="footer-content-solution">
                                        <a href="#">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>