/*Css cho các thẻ input select*/
/**:focus {
    outline: none;
}*/
input {
    height: 18px;
    background-color: #cccccc;
    background-image: url('/content/img/bg_input_text.gif');
    border: 1px solid silver;
    color: #000000;
    font-size: 11px;
    font-family: Verdana, Arial;
}

select {
    width: 162px;
    height: 20px;
    background-color: #cccccc;
    background-image: url('/content/img/bg_input_text.gif');
    border: 1px solid silver;
    color: #000000;
    font-size: 11px;
    font-family: Verdana, Arial;
}

input:focus {
}

select:focus {
}

input.border-red {
    border: 1px solid red;
}
