/*header Css*/
body {
    color: #434953;
    background: #fff;
    height: 100%;
}

.logo {
    padding-right: 30px;
}

    .logo div {
        width: 100px;
        height: 25px;
        background-image: url('../Content/Image/Logo_JetPay/logo-03.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

.cus-navbar {
    background-color: #fff;
    border: 0;
    box-shadow: -1px 6px 5px -7px rgba(204,204,204,1);
}

    .cus-navbar .navbar-nav > li > a {
        font-size: 16px;
        padding-top: 18px;
    }


.bg-cover .bg-title {
    position: absolute;
    z-index: 102;
    top: 26%;
    left: 20%;
    padding: 20px;
    color: #fff;
    text-align: center;
    width: auto;
    height: auto;
    display: inline-flex;
}

    .bg-cover .bg-title > div {
        margin: auto;
    }

    .bg-cover .bg-title .logo {
        border-right: 1px solid #fff;
    }

    .bg-cover .bg-title .text {
        text-align: left;
        padding: 16px;
        font-size: 20px;
        font-weight: bold;
    }





/*Cover css*/
.page-content {
    width: 100%;
    height: auto;
}

    .page-content .bg-cover {
        width: 100%;
        background: #edf8ff url('../Content/Image/cover.png') no-repeat bottom;
        height: 700px;
        overflow: hidden;
    }

    /*main content css*/

    .page-content .main-content {
        padding-top: 40px;
        padding-bottom: 100px;
    }

.main-content .title-content {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.list-solutions .row {
    margin-top: 60px;
}

.list-solutions .solution-item {
    width: 100%;
    height: auto;
    border-radius: 6px;
    border-top: 4px solid red;
    box-shadow: 0px 1px 5px 0px rgba(204,204,204,1);
    position: relative;
}

.solution-item .icon-box {
    position: absolute;
    z-index: 1;
    left: calc(50% - 30px);
    top: -30px;
    width: 60px;
    height: 60px;
    border: 3px solid red;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}

    .solution-item .icon-box .icon-content {
        width: 100%;
        height: 100%;
        background-image: url('../Content/Image/monitor.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

.solution-item .content-solution {
    margin-top: 30px;
}

    .solution-item .content-solution .title-content-solution {
        padding: 8px;
        text-transform: uppercase;
        text-align: center;
        color: red;
        font-weight: bold;
    }

    .solution-item .content-solution .body-content-solution {
        padding: 16px 8px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        height: 100px;
    }

    .solution-item .content-solution .footer-content-solution {
        padding: 16px;
        text-align: right;
        font-size: 12px;
    }

        .solution-item .content-solution .footer-content-solution a {
            color: #434953;
        }

.footer-content-solution a:hover {
    color: black;
    text-decoration: none;
}



/*footer style*/
.footer-content-page {
    border-top: 1px solid #ccc;
    padding: 40px 0;
}

    .footer-content-page .website-name {
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
    }

    .footer-content-page .address-company {
        font-size: 12px;
        font-weight: bold;
    }

    .footer-content-page .map-page {
        font-size: 12px;
        font-weight: bold;
    }

.map-page .map {
    list-style-type: none;
}

    .map-page .map li a {
        color: #434953;
    }

        .map-page .map li a:hover {
            color: black;
            text-decoration: none;
        }

.social {
    display: inline-flex;
    margin-top: 15px;
}

    .social .social-item {
        margin: auto;
        padding: 8px;
        width: 64px;
        height: 64px;
    }

    .social .item-content {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.social-item .facebook {
    background-image: url('../Content/Image/facebook.png');
}

.social-item .google {
    background-image: url('../Content/Image/google-plus.png');
}

.social-item .instagram {
    background-image: url('../Content/Image/instagram.png');
}

.social-item .linkedin {
    background-image: url('../Content/Image/linkedin.png');
}

.social-item .twitter {
    background-image: url('../Content/Image/twitter.png');
}
