
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> - MISA.JETPAY.DemoPaymentDateway.Merchant</title>
    <link href="/css/page/checkout/checkout.css" rel="stylesheet" />
    <link href="/css/page/checkout/main.css" rel="stylesheet" />
    <link href="/css/page/checkout/orderSuccessful.css" rel="stylesheet" />
    <link href="/css/page/checkout/payment.css" rel="stylesheet" />
    <link href="/lib/icon/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet" />
    <link href="/css/page/checkout/orderSuccessful.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            ﻿
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Cổng thanh toán</title>
                <link href="/css/page/confirm/main.css" rel="stylesheet" />
                <link href="/css/page/confirm/header.css" rel="stylesheet" />
                <link href="/css/page/confirm/content.css" rel="stylesheet" />
                <link href="/css/page/confirm/confirm.css" rel="stylesheet" />
            </head>
            <body>
                <div class="header"></div>
                <div class="content">
                    <div class="complate">
                        <div class="img"></div>
                        <div class="title orderResult">Đặt hàng thành công</div>
                    </div>
                    <div class="info">
                        <div class="info-order">
                            <p>
                                Bạn đã thanh toán thành công đơn hàng mã <span style="font-weight:bold;" id="orderId"></span >, trị giá <span style="font-weight:bold;" id="amount"></span><br /><br />
                                Sau khi xác nhận đơn hàng sản phẩm sẽ được giao đến địa chỉ 99 Nguyễn chí Thanh, phường Láng Hạ, Quận Đống Đa, Thành phố Hà Nội trong dự kiến vào ngày thứ 5 (22/2/2021)<br /><br />
                                Bạn có thể theo dõi đơn hàng tại Thông tin tài khoản > Theo dõi đơn hàng hoặc bấm vào đơn hàng phía dưới. <br /><br />
                                Sendo rất hân hạnh được phục vụ bạn!
                            </p>
                        </div>
                        <div class="button-order" style="text-align:center;">
                            <button id="continue">Tiếp tục mua sắp</button>
                            <button id="detail">Chi tiết đơn hàng</button>
                        </div>
                    </div>
                </div>
                <div class="footer"></div>
                <script src="/lib/jquery-3.5.1.min.js"></script>
                <script src="/js/common/common.js"></script>
                <script src="/js/page/checkout.js"></script>
                <script src="/js/page/payment.js"></script>
                <script src="/js/page/confirm.js"></script>
            </body>
        </html>
    </main>
</div>
</body>
</html>
