﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cổng thanh toán</title>
    <link href="~/css/page/confirm/main.css" rel="stylesheet" />
    <link href="~/css/page/confirm/header.css" rel="stylesheet" />
    <link href="~/css/page/confirm/content.css" rel="stylesheet" />
    <link href="~/css/page/confirm/confirm.css" rel="stylesheet" />
</head>
<body>
    <div class="header"></div>
    <div class="content">
        <div class="complate">
            <div class="img"></div>
            <div class="title">Đặt hàng thành công</div>
        </div>
        <div class="info">
            <div class="info-order">
                <p>
                    Bạn đã thanh toán thành công đơn hàng mã 15124124213512 trị giá 50.000đ <br /><br />
                    Sau khi xác nhận đơn hàng sản phẩm sẽ được giao đến địa chỉ 99 Nguyễn chí Thanh, phường Láng Hạ, Quận Đống Đa, Thành phố Hà Nội trong dự kiến vào ngày thứ 5 (22/2/2021)<br /><br />
                    Bạn có thể theo dõi đơn hàng tại Thông tin tài khoản > Theo dõi đơn hàng hoặc bấm vào đơn hàng phía dưới. <br /><br />
                    Sendo rất hân hạnh được phục vụ bạn!
                </p>
            </div>
            <div class="button-order">
                <button id="continue">Tiếp tục mua sắp</button>
                <button id="detail">Chi tiết đơn hàng</button>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>