.grid>table {
    width: 100%;
}


/* Thead */


/*#region Thead*/

thead th:nth-child(1) {
    width: 120px;
}

thead th:nth-child(2) {
    width: 200px;
}

thead th:nth-child(3) {
    width: 250px;
}

thead th:nth-child(4) {
    width: 170px;
}

thead th:nth-child(5) {
    width: 170px;
}

thead th:nth-child(6) {
    width: 250px;
}

thead th:last-child {
    width: 20px;
    text-align: center;
}


/*#endregion*/


/* TBody */


/*#region TBody*/

tbody tr td:nth-child(1) {
    width: 120px;
}

tbody tr td:nth-child(2) {
    width: 200px;
}

tbody tr td:nth-child(3) {
    width: 250px;
}

tbody tr td:nth-child(4) {
    width: 170px;
}

tbody tr td:nth-child(5) {
    width: 170px;
}

tbody tr td:nth-child(6) {
    width: 250px;
}

tbody tr td:last-child {
    width: 20px;
    text-align: center;
}


/*#endregion */


/* #region Responsive for 1368px */

@media only screen and (max-width: 1368px) {
    .grid>table {
        width: 1200px;
    }
    /* Thead */
    /*#region Thead*/
    thead th:nth-child(1) {
        width: 70px;
    }
    thead th:nth-child(2) {
        width: 100px;
    }
    thead th:nth-child(3) {
        width: 150px;
    }
    thead th:nth-child(4) {
        width: 150px;
    }
    thead th:nth-child(5) {
        width: 100px;
    }
    thead th:nth-child(6) {
        width: 150px;
    }
    thead th:last-child {
        width: 20px;
        text-align: center;
    }
    /*#endregion*/
    /* TBody */
    /*#region TBody*/
    tbody tr td:nth-child(1) {
        width: 70px;
    }
    tbody tr td:nth-child(2) {
        width: 100px;
    }
    tbody tr td:nth-child(3) {
        width: 150px;
    }
    tbody tr td:nth-child(4) {
        width: 150px;
    }
    tbody tr td:nth-child(5) {
        width: 100px;
    }
    tbody tr td:nth-child(6) {
        width: 150px;
    }
    tbody tr td:last-child {
        width: 20px;
        text-align: center;
    }
    /*#endregion */
}


/* #endregion */